html {
    overflow-y: scroll;
}

h1 {
    font-size: 1.6rem;
}



.header-wrapper {
    padding: 10px 0px 0px 0px;
}

.background-wrapper {
    width: 100%;
    padding-bottom: 4rem;
}

.searchbar {
    width: 100%;
    max-width: 330px;
}


.header-img-wrapper {
    position: relative;
    height: 20px;
    width: 190px;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
    z-index: 1;
    will-change: opacity;
    transition: 0.5s;
}

.logo:hover {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.logo-alt {
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
}

.snow-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 0px;
    width: 100%;
}

.item {
    flex: 50%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}

.item label {
    font-size: 0.7rem;
    font-weight: bold;
    color: #333333;
}

.item h3 {
    font-size: 2.3rem;
    font-weight: bold;
    color: #333333;
}

.item span {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333333;
    padding-bottom: 0.2rem;
}

.box-sub-item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.all-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resort-wrapper {
    justify-content: space-around;
}

.img-wrapper {
    width: 100%;
}

.resort-title {
    text-align: center;
    color: #333333;
    font-size: 1.5rem;
}

.input-field:focus {
    border: 3px solid #555555;
}

.input-field {
    border: 3px solid #a5a5a5;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
    outline: none;
    font-size: 18px;
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    border: 3px solid #a5a5a5;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    outline: none;
    font-size: 1rem;
}


.react-autosuggest__input--focused {
    border: 3px solid #777;
}
  
.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
  
.react-autosuggest__suggestions-container {
    display: none;
}
  
.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 3rem;
    width: 100%;
    border: 3px solid #777;
    border-top: 0px;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 2;
}
  
.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}
  
.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 4px 12px;
}
  
.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

@media screen and (min-width: 500px) {
    html {
        font-size: 20px;
    }
    h1 {
        font-size: 1.6rem;
    }
    .searchbar {
        max-width: 400px;
    }
    .react-autosuggest__input {
        font-size: 18px;
    }
    .react-autosuggest__suggestions-container--open {
        font-size: 18px;
        top: 2.55rem
    }
    .header-img-wrapper {
        position: relative;
        height: 60px;
        width: 260px;
    }
}
@media screen and (min-width: 768px) {
    .item {
        flex: 25%;
        padding-left: 20px; /* Not the cleanest solution */
    }
    h1 {
        font-size: 2.3rem;
    }
    .img-wrapper {
        width: 600px;
    }
    .background-wrapper {
        width: 800px;
    }
}